# Server Port
PORT=5000

# Database
MONGODB_URI=mongodb://localhost:27017/spectra

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Resend Mail Setup
RESEND_API_KEY=your_resend_key
RESEND_FROM=Bio Spectra <onboarding@resend.dev>
ADMIN_EMAIL=your_admin_email

# Security
JWT_SECRET=your_very_secure_secret
JWT_EXPIRES_IN=30d

# Frontend URLs (for CORS)
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:5173
